body {
  background: rgba(110, 110, 111, 0.866);
  
}

.card_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  gap: 40px;
  padding: 15px;
  justify-content: center;
  transition: margin-left 0.3s 0.3s;
  font-family: sans-serif;
  font-size: small;
}

.create_container {
  margin-top: 1rem;
  margin-left: 0rem;
  justify-content: center;
}

.button_create_videogame {
  text-decoration: none;
  color: goldenrod;
  justify-content: center;
}
.reload_container {
  margin-left: 1rem;
  padding: 10px 22px;
}

.button_reload {
  text-decoration: none;
  color: goldenrod;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 0.7rem;
  cursor: pointer;
  border-radius: 0.2rem;
  outline: none;
  border: none;
  padding: 3px 6px;
}


/* paginado */

.pagination {
  margin-bottom: 0rem;
  cursor: pointer;
  position: absolute;
  width: 243px;
  height: 35px;
  left: 598px;
  top: 2049px;
}
