.video-card{
    border: 1px solid rgb(111, 111, 82);
    border-radius: 1rem;
    border-color: bisque;
    margin: 1rem;
    width: 17rem;
    padding: 1rem;
  }
  
  .card-img{
    width: 100%;
    border-radius: 1rem;
  }