.navbar_container{
    
    display: block; 
    position: center;
    text-align: center;
}

.select {
    cursor: pointer;
    text-align: center;
    outline: none;
    margin-top: 2rem;
    margin-left: 1.5rem;
    height: 1.5rem;
    width: 8rem;
    font-size: 15px;
    border-color: rgb(48, 12, 12);
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: rgba(3, 53, 62, 0.823);
    border-radius: 0.3rem;
    color: rgb(238, 244, 238);
    
}
.select:hover{
    background-color: goldenrod;
    opacity: 0.9;
    font-weight: bold;
    
}


.button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.button2{
    text-decoration: none;
    color: goldenrod;
    justify-content: center;
    margin-top: 0,5rem;
    margin-bottom: 0rem;
    cursor: pointer;
    border-radius: 0.2rem;
    outline: none;
    border: none;
    padding: 3px 12px;
}
